---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>elbatey.twop0intfive.xyz</title>
    <link>https://elbatey.twop0intfive.xyz/</link>
    <description>Notes on Sovereign Infrastructure and Tech</description>
    <language>en</language>
    <lastBuildDate>{{ collections.all | getNewestCollectionItemDate | dateToRfc3339 }}</lastBuildDate>
    {%- for post in collections.all | reverse -%}
      {%- if loop.index0 < 10 -%}
        {%- set absolutePostUrl %}https://elbatey.twop0intfive.xyz{{ post.url }}{% endset %}
        <item>
          <title>{{ post.data.title }}</title>
          <link>{{ absolutePostUrl }}</link>
          <guid>{{ absolutePostUrl }}</guid>
          <pubDate>{{ post.date | dateToRfc3339 }}</pubDate>
          <content:encoded><![CDATA[{{ post.templateContent | safe }}]]></content:encoded>
        </item>
      {%- endif -%}
    {%- endfor -%}
  </channel>
</rss>
